{% extends 'mobile_shell.html' %}
{% block mobile_content %}
<div
  class="mobile-incident-app"
  data-mobile-incident-page="{{ mobile_incident_page }}"
  data-mobile-home-url="{{ url_for('mobile.home') }}"
  data-mobile-start-url="{{ url_for('mobile.incident_start') }}"
  data-mobile-basics-url="{{ url_for('mobile.incident_basics') }}"
  data-mobile-persons-url="{{ url_for('mobile.incident_persons') }}"
  data-mobile-person-editor-url="{{ url_for('mobile.incident_person_editor') }}"
  data-mobile-facts-url="{{ url_for('mobile.incident_facts') }}"
  data-mobile-statements-url="{{ url_for('mobile.statement_launcher') }}"
  data-mobile-statement-entry-url="{{ url_for('mobile.statement_entry') }}"
  data-mobile-statement-review-url="{{ url_for('mobile.statement_review') }}"
  data-mobile-statement-signature-url="{{ url_for('mobile.statement_signature_capture') }}"
  data-mobile-narrative-url="{{ url_for('mobile.incident_narrative_review') }}"
  data-mobile-forms-url="{{ url_for('mobile.incident_selected_forms') }}"
  data-mobile-reference-url="{{ url_for('reference.incident_paperwork_guide') }}"
></div>
{% if mobile_forms_catalog is defined %}
<script id="mobile-form-catalog-data" type="application/json">{{ mobile_forms_catalog|tojson }}</script>
{% endif %}
<div id="forms-assist-root" class="assist-mount"></div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='mobile/incident-assist.js', v='2026-05-03-phase7-1') }}"></script>
{% endblock %}
